@use '../base' as *;
@use '../abstracts' as *;
@use '../vendors' as *;

.btn {
  border: none;
  outline: none;
  background-color: $color-accent;
  color: #fff;
  text-align: center;
  @include font-size(1rem);
  @include padding(0.8rem);
  border-radius: 10px;
  width: 95%;
  max-width: 300px;
  margin: auto;
  cursor: pointer;
  font-family: $font-primary;
  font-weight: 400;
  transition: background-color ease-in-out 0.3s;
  &:hover {
    background-color: lighten($color-accent, 9);
  }
  &:focus,
  &:active {
    box-shadow: 0 0 0pt 1pt #fff;
    background-color: lighten($color-accent, 9);
  }
}

.btn-arrow {
  font-size: 14px;
  border: 1.5px solid #fff;
  outline: 0;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  text-align: center;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  transition: opacity ease-in-out 0.3s;
  &:active {
    opacity: 0.6;
  }
}

.btn-add {
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 1.6rem;
  outline: 0;
  border: 0;
  width: 34px;
  height: 34px;
  text-align: center;
  background-color: #484857;
  color: #fff;
  backdrop-filter: blur(50px);
  border-radius: 10px;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  &:hover {
    opacity: 0.8;
  }
  padding-top: 4px;
  font-weight: 100;
}
