//  TO USE : https://razorltd.github.io/sasscolourfunctioncalculator/
// TO USE : http://scg.ar-ch.org/

//set all my color var

$color-accent: #d22f27;

// color contrasts
$color-bg: #111111;
$color-primary:#181818;

// typography
$color-text: #fff;
$color-text-secondary: #696972;
