@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");

$font-primary: "Poppins", sans-serif;
$font-secondary: "";
/*
@font-face {
  font-family: "";
  src: url() format("woff"), url() format("woff2"), url() format("truetype"),
    url() format("opentype");
}

@font-face {
  font-family: "";
  src: url() format();
}

@font-face {
  font-family: "";
  src: url() format();
}*/
