@use '../components' as *;
@use '../vendors' as *;
@use '../abstracts' as *;
@use '../base' as *;

body {
  padding-bottom: 4rem;
  overflow-x: hidden !important;
  box-sizing: border-box;
}

.loaderContainer {
  z-index: 1000;
  top: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-primary;
  .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: linear-gradient(
      to right,
      $color-accent 10%,
      rgba(210, 91, 91, 0) 42%
    );
    position: relative;
    animation: load3 1.4s infinite linear;
    transform: translateZ(0);
  }
  .loader:before {
    width: 50%;
    height: 50%;
    background: $color-accent;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
  }
  .loader:after {
    background: $color-primary;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: "";
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  @keyframes load3 {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

body > .content.container {
  @include mq(map-get($breakpoint, "lg")) {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  margin-top: 100px;
  .content {
    grid-column-start: 2;
    grid-column-end: 5;
  }
}
.welcome {
  text-align: center;
  @include mq(map-get($breakpoint, "md")) {
    grid-column-start: 2;
    grid-column-end: 5;
  }
  h1 {
    margin: 10px 0;
  }
}
